.app_violet_theme {
    --bg-color: #F6F4FB;
    --inverted-bg-color: #551fb1;
    --primary-color: #300251;
    --secondary-color: #551fb1;
    --inverted-primary-color: #F6F4FB;
    --inverted-secondary-color: #F6F4FB;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listBox
    --listbox-bg: #d5d5d7;
}